body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/626/original/15847173_v957-nunny-16.jpg?1688673156");
  background-color: #cccccc;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #71a0a5;
  border-radius: 10px;
  background-color: #acc6aa;
}
h1 {
  color: black;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}
h2 {
  display: inline;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  text-align: right;
  padding: 0px 0px 0px 0px;
}
input[type="text"] {
  border: 1px solid #71a0a5;
  padding: 5px;
  border-radius: 10px;
}
input[type="submit"] {
  color: black;
  background-color: #71a0a5;
  border-radius: 10px;
  border: solid thin;
  border-color: #71a0a5;
  padding: 5px;
}
form {
  margin: -35px 5px 20px 0px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-family: "Courier New", Courier, monospace;
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.deets {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.emoji {
  float: left;
  width: 80px;
  margin-top: -8px;
}
.temp {
  font-family: "Courier New", Courier, monospace;
  float: left;
  font-size: 55px;
  line-height: 1;
  font-weight: 400px;
  margin-right: 0px;
}
.units {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  font-size: 16px;
}
.overview {
  margin-bottom: 20px;
}
.left .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.left .active:hover {
  text-decoration: none;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
}
.row {
  display: flex;
  margin-top: 20px;
}

.col-1 {
  text-align: center;
  padding: 0;
  margin: 0;
  float: left;
  width: 15%;
  font-family: "Courier New", Courier, monospace;
}
a {
  color: #77628c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
